<h1>Edit Employee </h1>

<%= form_with(model: @employee) do |form| %>

  <div class='mt-3'>
    <%= form.label :Name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>
  <div class='mt-3'>
    <%= form.label :Email %>
    <%= form.text_field :email, class: "form-control", placeholder: "stev@job.com" %>
  </div>
  <div class='mt-3'>
    <%= form.label :Address %>
    <%= form.password_field :address, class: "form-control", placeholder: "address" %>
  </div>
  <div class='mt-3'>
    <%= form.label :Role %>
    <%= form.select :role, Employee.roles.keys %>
  </div>
  <div class='mt-3'>
    <%= form.label :Gender %>
    <%= form.select :gender,Employee.genders.keys %>
  </div>
  <div class="mt-3">
    <%= form.submit "Edit User",class: "btn btn-primary" %>
  </div>
<% end %>