
<% if @current_user.admin? %>
  <form action="<%= dashboards_path %>">
    <input type="text" placeholder="searching" name="search_key">
    <button type="submit">Search</button>
  </form>
  <table style = "border: 1px solid black" >
    <thead >
      <tr>
        <th>Mentor Name</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>role</th>
        <th>address</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @employee.each do |employee| %>
        <tr>
          <td><%= employee.mentor&.name %></td>
          <td><%= employee.name %></td>
          <td><%= employee.email %></td>
          <td><%= employee.gender %></td>
          <td><%= employee.role %></td>
          <td><%= employee.address %></td>
          <!-- <td><%#= link_to 'Show',dashboard_path(employee) %></td> -->
          <td><%= link_to 'Edit', "/edit_employee/#{employee.id}" %></td>
          <td><%= button_to 'Destroy', loggout_path, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
          <%#= button_to 'logout',logout_path,method: :delete, class:'nav-link'%>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>
<% if @current_user.teamlead? && @employee_trainees.map {|a| a.mentor_id == @current_user.id }%>
  <form action="<%= dashboards_path %>">
    <input type="text" placeholder="searching" name="search_key">
    <button type="submit">Search</button>
  </form>
  <br>
  <br>
  <% if @employee_trainees.present? %>
    <h1>Trainee list</h1>
      <table style = "border: 1px solid black" >
        <thead >
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>role</th>
            <th>address</th>
            <th>topics list</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @employee_trainees.each do |employee| %>
            <tr>
              <td><%= employee.name %></td>
              <td><%= employee.email %></td>
              <td><%= employee.gender %></td>
              <td><%= employee.role %></td>
              <td><%= employee.address %></td>
              <td><%= link_to 'Show',topics_path %></td>
              <td><%= link_to 'Edit', "/edit_employee/#{employee.id}" %></td>
              <td><%= button_to 'Destroy', loggout_path, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
              <%#= button_to 'logout',logout_path,method: :delete, class:'nav-link'%>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
<% end %>


<br>
<style type="text/css">
  table, th, td {
  border: 1px solid black;
}
</style>
<%#= link_to 'Registration ', sign_up_path %>
