<p class="mt-4">
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Issues:</strong>
  <%= @topic.issues %>
</p>

<p>
  <strong>Date:</strong>
  <%= @topic.date %>
</p>

<p>
  <strong>Source:</strong>
  <%= @topic.source %>
</p>

<%#= link_to 'Edit', edit_topic_path(@topic) %> 
<%#= link_to 'Back', topics_path %>
