<h1> Sign In</h1>

<%= form_with url: sign_in_path do |form| %>
    <div class= "mt-3">
        <%= form.label :Email %>
        <%= form.text_field :email, class: 'form-control', placeholder: 'email@gmail.com'  %>
    </div>
    <div class= 'mt-3'>
        <%= form.label :Password %>
        <%= form.password_field :password, class: 'form-control' %>
    </div>
    <div class="mt-3">
        <%= form.submit "Sign In", class: 'btn btn-primary'%>
    </div>
<% end %>