<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <% if @current_user.present? && @current_user.role == 'admin'  %>
      <%= link_to "Navbar", dashboards_path,class: 'navbar-brand' %>
    <% end %>
    <% if @current_user.present? && @current_user.role == 'teamlead'  %>
      <%= link_to "Navbar", dashboards_path,class: 'navbar-brand' %>
    <% end %>
    <% if @current_user.present? && @current_user.role == 'trainees'  %>
      <%= link_to "Navbar", topics_path,class: 'navbar-brand' %> 
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if @current_user.present? && @current_user.role == 'admin'  %>
          <li class="nav-item">
            <%= link_to "Create User", dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Home", dashboards_path, class: "nav-link" %>
          </li>
        <% end %>
        <% if @current_user.present? && @current_user.role == 'teamlead' %>
          <li class="nav-item">
            <%= link_to "Trainees", dashboards_path, class: "nav-link" %>
          </li>
        <% end %>
        <% if @current_user.present? && @current_user.role == 'trainees' %>
          <li class="nav-item">
            <%= link_to "Create topics", new_topic_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <ul class= "navbar-nav ms-auto mb-2 ">
        <% if @current_user.present? %>
        <li class="nav-item">
         <span class="navbar-text">
          <%= link_to @current_user.email, class:'nav-link' %>
         </span>
        </li>
        <li class="nav-item">
          <%= button_to 'logout',logout_path, method: :delete, class:'nav-link'%>
        </li>
        <% else %>
          <li class="nav-item">
            <%#= link_to "Sign In ", sign_up_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Login In", sign_in_path, class: 'nav-link'  %>
          </li>
        <% end %>
      <ul>
    </div>
  </div>
</nav>